*{
    margin: auto;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

.hero{
    display: block;
}

.hero .container{
    margin: 0;
    display: flex;
    flex-direction: column;
}

#one{
    height: 75px;
    flex-direction: row;
    background-color: #1F2937;
    align-items: center;
}

.sub-one-one{
    margin-left: 10%;
    font-size: 24px;
    color: #F9FAF8;
    text-align: left;
    font-weight: bold;
}

.sub-one-two{
    margin-right: 10%; 
    font-size: 18px;
    color: #E5E7EB;
    text-align: right;
}

#two{
    height: 350px;
    flex-direction: row;
    background-color: #1F2937;
}

.sub-two-one h2{
    font-size: 48px;
}

.sub-two-one p{
    font-size: 18px;
}

.sub-two-one{
    color:#F9FAF8;
    width: 50%;
    margin-left: 10%;
    margin-right: 10px;
}

.sub-two-one button{
    background-color: #3882F6;
    color: white;
    border-radius: 6px;
    width: 120px;
    padding: 10px;
    cursor: pointer;
    border: 0px;
    font-weight: bold;
    font-size: 16px;
}

.sub-two-two{
    color:#E5E7EB;
    width: 50%;
    margin-right: 10%; 
    margin-left: 10px;
    background-color: #727272;
    height: 50%;
    display: flex;
}

.sub-two-two p{
    align-items: center;
    justify-content: center;
}

#three{
    height: 500px;
}

.sub-three-one{
    width: 50%;
    text-align: center;
    margin-top: 3%;
    font-size: 36px;
    font-weight: bold;
}

.sub-three-two{
    width: 700px;
    height: 120px;
    margin-top: -150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 39px;
}

.sub-three-two div{
    border: 3px solid #3882F6;
    width: 20%;
    height: 100%;
    border-radius: 12px;
}

.sub-three-two p{
    margin-top: 140px;
    width: 150px;
    text-align: center;
}

#four{
    height: auto;
    background-color: #E5E7EB;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sub-four-one{
    padding: 30px;
    color: #1F2937;
    font-size: 36px;
    text-align: left;
    background-color: #1F2937;
    border-radius: 16px;
}

.sub-four-one h1{
    color: #FFD700;
    padding-bottom: 30px;
    font-size: 50px;
    text-align: center;
}

.sub-four-one form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sub-four-one input{
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #1F2937;
    width: 700px;
}

.sub-four-one label{
    color: white;
    text-align: left;
    width: 735px;
    font-size: 24px;
}

#submit{
    cursor: pointer;
    transition: 0.2s ease-out;
    width: 200px;
    margin-top: 10px;
}

#submit:hover{
    background-color: #FFD700;
}

.sub-four-one h6{
    text-align: right;
    font-size: 36px;
}

#five{
 height: 300px;
}

.sub-five-one{
    background-color: #3882F6;
    border-radius: 8px;
    width: 50%;
    height: 50%;
    display: flex;
}

.sub-five-one p{
    color: #F9FAF8;
}

.sub-five-one button{
    background-color: transparent;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 6px;
    width: 120px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.sub-five-one .action-text{ 
    margin-left: 10%;
    width: 50%;
}

.p1{
    font-weight: bold;
    font-size: 24px;
}

.p2{
    font-size: 20px;
}

#six{
    height: 75px;
    background-color: #1F2937;
    color: #F9FAF8
}
